.mainpage_container{
    height: 650px;
    background-color: #eff2f5;
}

.imagelayout_container{
      display: flex;
      margin: 15px;
}
.imagelayout_imglay{

}
.imagelayout_img{
    max-width: 35px;
    max-height: 35px;
}
.imagelayout_text{
     margin: 10px;
     font-weight: 500;
     font-size: 14px;
}
.middlecontainer{
    margin-left: 50px !important;
    overflow-y: scroll;
    height: 650px;
    max-width: 620px !important;
}