.rightside_container{

}
.rightside_header{
    display: flex;
    margin-top: 20px;
    margin-left: 90px;
    font-weight: 600;
    font-size: 18px;
}
.rightside_content{
    margin-left: 80px;
}